.k-textarea {
    width: 100%;
    display: block;
}

.k-checkbox {
    list-style: none;
}

.labels {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: bold;
}