<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-3">
            <select class="form-control"
                    (change)="onSelected($event.target.value)">
              <option value="0">- Display All -</option>
              <option *ngFor="let category of categories"
                      [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
          <div class="col-2">
            <button type="button"
                    class="btn btn-outline-secondary"
                    (click)="onAdd()">Add Product</button>
          </div>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="assets$ | async as assets">
          <thead>
            <tr>
              <th>MarketId</th>
              <th>FacilityId</th>
              <th>Make</th>
              <th>Model</th>
              <th>StatusId</th>
              <th>Asset Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let asset of assets ">
            <tr>
              <td>{{ asset.marketId }}</td>
              <td>{{ asset.facilityId}}</td>
              <td>{{ asset.make}}</td>
              <td>{{ asset.model}}</td>
              <td>{{ asset.statusId }}</td>
              <td>{{ asset.assetStatus}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div class="alert alert-danger"
       *ngIf="errorMessage">
    {{ errorMessage }}
  </div>